
@{ ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/NiceAdmin/_CSLayout.cshtml"; }

@if (ViewBag.Message != null)
{
<div style="background-color: #00e600; height: 60px; box-shadow: 5px; margin: 0px 20px 20px 50px; text-align:center; font-size:x-large">@ViewBag.Message</div> }
else if (ViewBag.Error != null)
{
<div style="background-color: #ff3333; height: 60px; box-shadow: 5px; margin: 0px 20px 20px 50px; text-align: center; font-size: x-large">@ViewBag.Error</div>            }
<h2>Upload Quota File</h2>

<div class="text-center uploadOrdersDiv">
    <form asp-controller="Hold" asp-action="Create" method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col-6">
                <input type="file" name="postedFile" class="form-control" />
            </div>
        </div>
        <div class="row">
            <div class="col-6 mt-3">
                <input type="submit" value="Upload" class="btn btn-primary" />
            </div>
        </div>
    </form>
</div>
<form asp-action="DownloadQuotaTemplate">
    <input type="submit" value="Download Template" class="btn btn-link" style="margin-bottom:40px" />
</form>