@model PriorityApp.Service.Models.MasterModels.StateModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create State</h2>

<hr />
<div class="row FormMaindiv">
    <form asp-action="Create" class="CreateForm">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Id" class="control-label">Id</label>
            <input asp-for="Id" class="form-control" />
            <span asp-validation-for="Id" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="SubregionId" class="control-label">Sub Region</label>
            <select asp-for="SubregionId" class="form-control" asp-items="@(new SelectList(Model.SubRegions, "Id","Name"))"></select>
            <span asp-validation-for="SubregionId" class="text-danger"></span>
        </div>
        
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </form>
    </div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
