@model PriorityApp.Service.Models.MasterModels.SubRegionModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>SubRegion</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RegionCode" class="control-label"></label>
                <input asp-for="RegionCode" class="form-control" />
                <span asp-validation-for="RegionCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="mainRegionId" class="control-label">Main Region</label>
                <select asp-for="mainRegionId" class="form-control" asp-items="@(new SelectList(Model.mainRegions, "Id","Name"))"></select>
                <span asp-validation-for="mainRegionId" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="IsVisible" class="control-label">Active</label>
                @*<input asp-for="IsVisible" class="form-control" />*@
                <select asp-for="IsVisible" class="form-control" asp-items="@(new SelectList(new List<bool> { true, false}))"></select>
                <span asp-validation-for="IsVisible" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
